
root { 
    display: block;
}

.topwell {
  padding: 5px;
  padding-left:15px;
  margin-bottom: 5px;
  margin-top:5px;
  background-color: #f5f5f5;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  color: #285e8e;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well2 {
  padding: 10px;
  margin-bottom: 5px;
  margin-top:5px;
  background-color: #f5f5f5;
  text-align: center;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.login-well {
      margin-top: 20px;
  background-color: #f5f5f5;
  text-align: center;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.login-well2 {
  background-color: #f5f5f5;
  text-align: center;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.admin-login-well {
      margin-top: 20px;
  background-color: #CDC0C0;
  text-align: center;
  border: 1px solid #612F30;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.admin-login-well2 {
    background-color: #612F30;
    text-align: center;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.login-well2 table {
    color: #285e8e;
    font-weight: bold;
    font-size: 18px;
}

.login-well2 img {
    width: 48px;
    margin-right: 10px;
}

.admin-login-well2 table {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.admin-login-well2 img {
    width: 48px;
    margin-right: 10px;
}

.bootstrap-filestyle input{
    height: 30px;
}

.mynav {
    margin-top: 5px;
}

.mynav > li > a {
	border: 1px solid #AAAAAA;
	background-color: #f5f5f5;
	color: #428BCA;
	font-size: 14px;
	text-align: right;
}

.nav > li > a:hover {
	background-color: #DAE6F1;
}

.icon {
    width: 16px;
    margin-left: 5px;
}

.menu_image {
    width: 24px;
    margin-left: 10px;
}

.toparea_image {
    width: 32px;
    margin-right: 5px;
}

.toparea_dropdown {
    float:right;
    margin-right: 10px;
}

.toparea_dropdown .btn {
    padding: 3px 12px;
    margin-top: 3px;
}

.progress {
    width: 300px;
    float: right;
    text-align: center;
    background-image: linear-gradient(to bottom, #F9F9F9, #FFFFFF);
}

.progress-wrapper {
   text-align: center;
   margin-top:5px;
   margin-bottom: 5px;
}

.bar {
    background-color: #FFFFFF;
}

.input-smallmedium {
  width: 120px;
}

.input-xmini {
    width: 40px;
}

form {
    margin: 10px;
}

label {
    line-height: 14px;
}

input[type="checkbox"] {
    margin-top: 0px;
}

.formWrapper, #iFrame1Wrapper {
    background-color: #E9EDF3;
    margin:5px 15px 15px 15px; 
    border:1px solid #99AAC4;
}

.formWrapper-inline {
    background-color: #E9EDF3;
    margin:15px; 
    border:1px solid #99AAC4;
    display: inline-block;
}

.formTopBar {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: bold;
    border-bottom: 1px solid #99AAC4;
    text-align: left;
    margin-bottom: 10px;
}

.formUpperBar {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: bold;
    border-bottom: 1px solid #99AAC4;
    text-align: left;
}

.formSubBar {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    background-color: #D9E2F0;
    padding: 3px;
    color: #808080;
}

.formTable {
   border-collapse: separate;
   border-spacing: 5px;
   width: 100%;
   font-size: 14px;
}

.formTable label {
    font-weight: bold;
    font-size: 14px;
}

.formTable label.radio {
    font-weight: normal;
}

.formTable input {
    display: inline-block;
}

.formTable input[type="text"] {
    min-height: 30px;
}

.formTable input[type="radio"] {
    min-height: 0px;
    margin-top: 0px;
}

.formTable input[type="checkbox"] {
    margin-left: 5px;
}

.formTable th {
    text-align: left;
    padding: 2px 4px;
    background-color: #D7DBE0;
}

.formTable2 {
   border-collapse: separate;
   border-spacing: 5px;
   width: 100%;
   font-size: 14px;
}

.formTable2 td {
    border: 1px solid #D7DBE0;
    padding: 5px;
    background-color: #EDF1F3;
}

.formTable2 td:nth-child(1) {
    text-align: center;
}

.formTable2 label {
    font-weight: bold;
    font-size: 14px;
}

.formTable2 label.radio {
    font-weight: normal;
}

.formTable2 input[type="text"] {
    min-height: 25px;
    display: inline-block;
}

.formTable2 input[type="radio"] {
    min-height: 0px;
    margin-top: 0px;
}

.formTable2 input[type="checkbox"] {
    margin-left: 5px;
}

.formTable2 th {
    text-align: left;
    padding: 4px 4px;
    background-color: #D7DBE0;
}

.normal-text {
    font-weight: normal;
}

.formTable-compact {
   border-collapse: separate;
   border-spacing: 3px;
   width: 100%;
   font-size: 12px;
}

.formTable-compact th {
    font-size: 12px;
}

.formTable-compact label {
    font-weight: bold;
    font-size: 12px;
}

.formTable-compact label.radio {
    font-weight: normal;
}

.formTable-compact input {
    min-height: 30px;
    display: inline-block;
}

.formTable-compact input[type="radio"] {
    min-height: 0px;
    margin-top: 0px;
}

.table {
    font-size: 14px;
    border-color: #B1B1B1;
}

.table th {
    background-color: #E2E2E2;
}

.table tr:hover{
        background-color: #E2E2E2;
}

.table td, .table th {
    border-color: #B1B1B1;
}

.table input[type="checkbox"], .table input[type="radio"] {
    margin-top: 0px;
}

#chem_table td:nth-child(1), #item_table td:nth-child(1) {
    text-align: center;
}

.nav {
    margin-bottom: 0px;
}

#add_user_form td {
    vertical-align: top;
}

.info_table {
    background-color: #E9EDF3;
    width: 100%;
    margin: 10px 0px;
}

.info_table td {
    padding: 5px 10px;
    border: 1px solid #99AAC4;
    font-size: 14px;
}

.info_table td:nth-child(1){
    background-color: #B4C8E6;
    font-weight: bold;
}

.info_table td:nth-child(3), .info_table td:nth-child(4){
    text-align: center;
}

.semesterTopBar {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: bold;
    border-bottom: 1px solid #99AAC4;
    text-align: left;
}

.semester_table {
    border: 1px solid #99AAC4;
    width: 100%;
}

.semester_table td:nth-child(1) {
    width: 150px;
    padding: 4px;
}

.semester_table td:nth-child(2) {
    background-color: #f5f6f7;
}

.publication_table {
    width: 100%;
}

.table_header_line {
    font-size: 13px;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: bold;
    text-align: center; 
    background-color: rgb(180,200,230);
    border: 1px solid #99AAC4;
    width: 100%;
}

.table_header_line td {
    border: 1px solid #99AAC4;
}

.publication_table {
    border: 1px solid #99AAC4;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #F5F6F7;
}

.publication_table td {
    padding-left: 4px;
}

#grouptask_wrapper_table {
    border-collapse: separate;
    border-spacing: 2px;
    font-size: 14px;
}

#group_task_list {
    width: 100%;
    padding: 7px;
    text-align: center;
}

#group_task_list table {
    border-collapse: separate;
    border-spacing: 4px;
    font-size: 14px;
}

.grouptask_box {
    border: 1px solid grey; 
    margin: 6px; 
    padding: 6px;
}

.grouptask_box input[type="text"] {
    margin-top: 3px;
}

#instrulog_wrapper_table {
    border-collapse: separate;
    border-spacing: 2px;
    font-size: 14px;
    width: 100%;
}

#calendar_table {
    font-size: 13px;
    text-align: center;
    background-color: white;
}

#calendar_table td {
    padding:2px 4px;
    
}

#calendar_table td:hover {
    background-color:#E2E2E2;
    cursor: pointer;
}

#calendar_table tr:nth-child(1) {
    background-color:#B4C8E6;
}

#calendar_table tr:nth-child(2) {
    background-color:#E2E2E2;
}

.instrulog_box {
    border: 1px solid grey; 
    margin: 6px; 
    padding: 6px;
    background-color: #FFFFC9;
}

.instrulog_box input[type="text"] {
    margin-top: 3px;
}

#file_folder_table caption {
    font-weight: bold;
    text-align: left;
    padding-bottom:5px;
}

#file_folder_table caption img {
    margin-left: 10px;
}

#file_folder_table th {
    font-size: 13px;
    color:grey;
}


#file_folder_table td:nth-child(1){
    text-align: center;
}

#file_folder_table td:nth-child(3){
    text-align: center;
}

.status_table {
    width: 100%;
    text-align: center;
    font-size: 13px;
    border: 1px solid grey;
}

.status_table th {
    font-weight: bold;
    background-color:#cccccc;
    border-left: 1px solid grey;
}

.status_table td {
    background-color:#E2E2E2;
    border-left: 1px solid grey;
    padding:2px;
}

.status_table td:hover {
    color:blue;
}

#pending_table th {
    text-align: center;
}

#pending_table td:nth-child(1), #pending_table td:nth-child(7), #pending_table td:nth-child(n+9) {
    text-align: center;
}

#info_navtab li a {
    background-color: rgb(180,200,230);
}

#info_navtab li a {
    border-color: #99AAC4;
    font-weight: bold;
    font-size: 14px;
}

.order_table {
    width: 100%;
    background-color: #F5F5F5;
    margin-bottom: 10px;
}

.order_table th {
    border: 1px solid #99AAC4;
    font-size: 14px;
    text-align: center;
    background-color: #B4C8E6;
}

.order_table td {
    padding:4px;
    border: 1px solid #99AAC4;
    font-size: 14px;
}

.order_label {
    background-color: #B4C8E6;
    font-weight: bold;
}

#orderlist_table th {
    text-align: center;
}

#orderlist_table td:nth-child(1) {
    padding-left: 10px;
}

.inline-form {
    display:inline;
}

#pub_info_table {
    font-size: 14px;
    width: 100%;
}

#pub_info_table td {
    padding: 2px 4px;
}

.pub_info_label {
    font-weight: bold;
}

#pub_info_filetable {
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 2px;
}

#pub_info_filetable th {
    font-weight: bold;
    text-align: left;
    background-color:#CDC0C0;
    padding: 3px;
}

#pub_info_filetable td {
    padding: 3px;
}